.DS_Store
/data/*
!/data/.gitkeep
/sft/data/*
!/sft/data/.gitkeep
overall_pipeline/data/*
!overall_pipeline/data/.gitkeep
code/outputs/
**/__pycache__/
*.py[cod]
.venv/
upload_server.txt
**/sandbox/*
!**/sandbox/.gitkeep
**/tmp_checkpoints/*
!**/tmp_checkpoints/.gitkeep
**/models/*
!**/models/.gitkeep
